
/* ----------------------- General ----------------------- */

body {
	overflow: hidden;
}

body, #header, #footer {
	font-family: 'Roboto', sans-serif !important;
	font-size: 12px;
}

#header, #footer {
	background-color: #6298BE;
	color: white;
	width: 100%;
}

#footer {
	position: fixed;
	bottom: 0;
	height: 50px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300 !important;
}

/* ----------------------- Custom ----------------------- */

.roboto {
	font-family: 'Roboto', sans-serif !important;
	font-size: 12px !important;
}

/*#home {
	height: 100%;
}*/

#pieGraph {
	height: 100% !important;
	z-index: -2;
}


/* ----------------------- Override ----------------------- */